<br>
<nav class="navbar navbar-default" ng-controller="Nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Tweedles Bakery</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse-navbar">
			<ul class="nav navbar-nav">
				<li><a href="/about">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/store">Store</a></li>
				<li><a href="/store/cart"><i class="fa fa-shopping-cart"></i>&nbsp;Cart <span class="badge" ng-bind="$storage.cartCount"></span></a></li>
				<li ng-if="!account"><a href="#" ng-click="login('sm')">Log In</a></li>
				<li class="dropdown" ng-if="account">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/orders">Orders</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="#" ng-click="forgetPassword('sm')">Reset Password</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	{{>complete-modal}}
	{{>confirm-modal}}
	{{>noconfirm-modal}}
</nav>
<script src="/js/dist/nav.controller.min.js"></script>