<div class="container">
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Administration</h4>
				</div>
				<div class="panel-body">
					<form method="post" action="/admin/login">
						<div class="form-group"><input name="AdminEmail" type="email" class="form-control text-center" placeholder="Email" required></div>
						<div class="form-group"><input name="AdminPassword" type="password" class="form-control text-center" placeholder="Password" required></div>
						<button type="submit" class="btn btn-default btn-md">Sign In</button>
						<a href="/admin/register" class="btn btn-default btn-md">Register</a>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>