<div class="container" ng-controller="Orders">
	{{>nav}}
	<br>
	<h3>Orders</h3>
	<hr>
	<div class="row">
		<div class="col-lg-2">
			<select class="input-sm form-control" ng-model="history" ng-change="setOrderRange()">
				<option value="30D">Past 30 Days</option>
				<option selected value="6M">Past 6 Months</option>
				<option ng-repeat="year in years" value="\{{year}}">\{{year}}</option>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12 text-center">
			<ul class="pagination" ng-if="orders.length > 0">
				<li><button class="btn btn-md btn-primary" ng-disabled="currentPage === 1" ng-click="goNext(-1)"><span aria-hidden="true">&laquo;</span></button></li>
				<li ng-repeat="n in [] | range : totalItems"><button ng-class="(n + 1) === currentPage ? 'btn-default' : 'btn-success'" class="btn btn-md" ng-click="goPage(n + 1)">\{{n + 1}}</button></li>
				<li><button class="btn btn-md btn-primary" ng-disabled="currentPage === totalItems" ng-click="goNext(1)"><span aria-hidden="true">&raquo;</span></button></li>
			</ul>
		</div>
	</div>
	<div class="row" ng-repeat="order in orders | limitTo : pageSize : begin">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-2">
							<b>Order Placed</b>
							<br>
							<span ng-bind="order.createdAt | date : 'MMMM d, y' : 'UTC'"></span>
						</div>
						<div class="col-lg-2">
							<b>Total</b>
							<br>
							<span ng-bind="order.OrderTotal | currency : '$' : 2"></span>
						</div>
						<div class="col-lg-4">
							<b>Shipping To</b>
							<br>
							<a style="color:white;" popover-placement="bottom" popover-trigger="mouseenter" uib-popover-template="popover.templateUrl">\{{order.OrderAddress.UserAddressFullName}}</a>
							<script type="text/ng-template" id="address.html">
								<div style="color:black;">
									<b>\{{order.OrderAddress.UserAddressFullName}}</b><br>
									\{{order.OrderAddress.UserAddressStreet}}<br>
									\{{order.OrderAddress.UserAddressCity}}, \{{order.OrderAddress.UserAddressState}} \{{order.OrderAddress.UserAddressZip}}<br>
								</div>
							</script>
						</div>
						<div class="col-lg-4">
							<b>Order ID</b>
							<br>
							<a ng-href="/store/cart/confirmation/\{{order.OrderGUID}}" target="_blank" ng-bind="order.OrderGUID | uppercase">Track Shipment</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<h4>Items</h4>
							<hr>
							<div class="row" ng-repeat="piece in order.OrderPieces">
								<div class="col-lg-3"><img class="img-responsive img-rounded" style="width:100px;height:100px" ng-src="https://s3.amazonaws.com/tweedles/\{{getProduct(piece.ProductID).ProductImage}}"><br></div>
								<div class="col-lg-6">
									\{{piece.OrderPieceQuantity}} x \{{getProduct(piece.ProductID).ProductName}}
									<br>
									\{{getProduct(piece.ProductID).ProductPrice | currency:'$'}}
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<h4>Costs <small ng-if="order.OrderPaid"><i class="fa fa-check-circle" ></i> Paid</small><small ng-if="!order.OrderPaid"><i class="fa fa-times-circle" ></i> Not Paid</small></h4>
							<hr>
							Shipping: \{{order.OrderShipping | currency:'$'}}
							<br>
							Tax: \{{order.OrderTax | currency:'$'}}
							<br><br>
							<a class="btn btn-primary btn-sm" ng-href="#" ng-disabled="\{{order.OrderShipCode || 'true'}}">Track Shipment</a>
						</div>
					</div>					
				</div>    
			</div>
		</div>
	</div>
	<div class="row" ng-if="orders.length === 0">
		<div class="col-lg-12">
			<h5>No orders</h5>
		</div>
	</div>	
</div>
<script src="/js/controllers/order.controller.js"></script>