<div class="container" ng-controller="Portal">
	{{>nav-portal}}
	<div class="row">
		<div class="col-md-12">

			<uib-tabset justified="true">
				<uib-tab heading="Products">
					<br>
					<button type="button" class="btn btn-success btn-sm btn-block" ng-click="openProduct('lg', 'Add')">Add</button>
					<br>
					<table st-set-filter="customFilter" st-table="products" st-safe-src="safeproducts" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="text-center" width="17%" st-sort="ProductName" st-skip-natural="true">Product</th>
								<th class="text-center" width="15%"></th>
								<th class="text-center" width="17%" st-sort="ProductPrice" st-skip-natural="true">Price</th>
								<th class="text-center" width="17%" st-sort="CategoryName" st-skip-natural="true">Category</th>
								<th class="text-center" width="17%" st-sort="ProductStatus" st-skip-natural="true">Status</th>
								<th class="text-center" width="17%">Actions</th>
							</tr>
							<tr>
								<th><input st-search="ProductName" placeholder="Product" class="input-sm form-control text-center" type="search" /></th>
								<th></th>
								<th><input st-search="ProductPrice" placeholder="0.00" class="input-sm form-control text-center" type="number" min="0" max="99" step="0.01"/></th>
								<th><st-select-distinct collection="safeproducts" predicate="CategoryName"></st-select-distinct></th>
								<th><st-select-distinct collection="safeproducts" predicate="ProductStatus"></st-select-distinct></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in products">
								<td class="text-center" ng-bind="product.ProductName"></td>
								<td class="text-center"><img width="50%" ng-src="https://s3.amazonaws.com/tweedles/\{{product.ProductImage}}"></td>
								<td class="text-center" ng-bind="product.ProductPrice | number: 2"></td>
								<td class="text-center" ng-bind="product.CategoryName"></td>
								<td class="text-center" ng-bind="product.ProductStatus"></td>
								<td class="text-center">
									<button type="button" class="btn btn-xs btn-warning" ng-click="openProduct('lg', 'Edit', product.ProductID)"><i class="fa fa-pencil fa-2x"></i></button>
									<button type="button" class="btn btn-xs btn-danger" ng-click="deleteProduct('sm', product.ProductID)"><i class="fa fa-trash fa-2x"></i></button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="10" st-displayed-pages="20"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</uib-tab>
				<uib-tab heading="Categories">
					<br>
					<button type="button" class="btn btn-success btn-sm btn-block" ng-click="openCategory('sm')">Add</button>
					<br>
					<table st-set-filter="customFilter" st-table="categories" st-safe-src="safecategories" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="text-center" width="17%" st-sort="CategoryName" st-skip-natural="true">Name</th>
								<th class="text-center" width="17%">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="category in categories">
								<td class="text-center" ng-bind="category.CategoryName"></td>
								<td class="text-center">
									<button type="button" class="btn btn-xs btn-danger" ng-click="deleteCategory('sm', category.CategoryID)"><i class="fa fa-trash fa-2x"></i></button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="5" st-displayed-pages="20"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</uib-tab>
				<uib-tab heading="Orders">Orders</uib-tab>
				<uib-tab heading="Admin Users">Users</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
<script src="/js/controllers/portal.controller.js"></script>