<div class="container" ng-controller="Profile">
	{{>nav}}
	<br>
	<h3>Saved Addresses</h3>
	<hr>
	<div class="row">
		<div class="col-lg-3" ng-repeat="address in addresses | orderBy: '-UserAddressDefault'">
			<div class="alert alert-success" role="alert">
				<address>
					\{{address.UserAddressFullName}}<br>
					\{{address.UserAddressStreet}}<br>
					\{{address.UserAddressCity}}, \{{address.UserAddressState}} \{{address.UserAddressZip}}<br>
				</address>
				<ANY ng-switch="address.UserAddressDefault">
					<ANY ng-switch-when="true"><buttton type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-check-circle"></i> Default</button></ANY>
					<ANY ng-switch-when="false"><buttton type="button" class="btn btn-primary" ng-click="setDefault(address.UserAddressID)">Set Default</button></ANY>
				</ANY>
			</div>
		</div>
	</div>
</div>
<script src="/js/dist/profile.controller.min.js"></script>