<div class="container" ng-controller="Store">
	{{>nav}}
	<div class="row">
		<div class="col-lg-4">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search a Product" ng-model="inventorySearch">
				<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
			</div>
		</div>
		<div class="col-lg-4">
			<select class="form-control" ng-model="categorySearch.CategoryID">
				<option value="">Select a Category</option>
				<option ng-repeat="category in categories" value="\{{category.CategoryID}}">\{{category.CategoryName}}</option>
			</select>
		</div>
		<div class="col-lg-4">
			<div class="form-inline">
			<input class="form-control" type="number" placeholder="Minimum Price" ng-model="MinPrice" min="0" step="0.01">
			<input class="form-control" type="number" placeholder="Maximum Price" ng-model="MaxPrice" min="0" step="0.01">
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3" ng-repeat="product in filtered = (products | filter: { ProductName: inventorySearch, CategoryID: categorySearch.CategoryID } | filter: priceFilter)">
			<div class="thumbnail">
				<img class="img-responsive" class="img-responsive img-rounded" style="width:250px;height:250px" ng-src="https://s3.amazonaws.com/tweedles/\{{product.ProductImage}}"></td>
				<div class="caption">
					<h5><b ng-bind="product.ProductName"></b></h5>
					<h5><small ng-bind="product.CategoryName"></small></h5>
					<p><small ng-bind="'$' + product.ProductPrice"></small></p>
					<p><a href="#" class="btn btn-default btn-sm" role="button" ng-click="addToCart(product)">Add to Cart</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="filtered.length === 0">
			<br>
			<h2>No Products Found</h2>
		</div>
	</div>
</div>
<script src="/js/controllers/store.controller.js"></script>